# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
env/
venv/
ENV/
.venv/

# Jupyter
*.ipynb

# PyInstaller
*.spec
dist/
build/

# Logs
*.log

# System Files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?

# IDEs
.vscode/
.idea/

# Testing
.pytest_cache/
.tox/
coverage/
htmlcov/

# Docker
*.tar
*.img
.dockerignore

# Env files
.env
*.env

# Other
*.bak
*.swp
*.tmp
